
.resim1{
    
    margin: 85px 830px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 29;
    list-style-position: inside
}
.resim2{
    
    margin: 85px 830px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 29;
    list-style-position: inside
    
}
.resim3{
    margin: 85px 830px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 29;
    list-style-position: inside
}

.text{
    margin-left: 50% ;
}